<div class="auth-card">
  <form [formGroup]="authForm">
    <label>
      <input 
        type="text" 
        [placeholder]="'AUTH.USERNAME_PLACEHOLDER' | translate" 
        autocomplete="username" 
        formControlName="username"
      >
    </label>
    <label>
      <input 
        type="password" 
        [placeholder]="'AUTH.PASSWORD_PLACEHOLDER' | translate" 
        autocomplete="current-password" 
        formControlName="password"
      >
    </label>
  </form>
  @if (errMessage) {
    <p class="auth-error">{{ errMessage }}</p>
  }
  <button class="primary-button" id="btn-auth" (click)="auth()">
    {{ 'AUTH.SUBMIT_BTN' | translate }}
  </button>
</div>
