<footer class="footer">
  <div class="newsletter-footer container">
    <div class="title-section">
      <span class="yellow fs-18">{{ 'FOOTER.NEWSLETTER.SUBTITLE' | translate }}</span>
      <p class="fs-26 bold newsletter--title">{{ 'FOOTER.NEWSLETTER.TITLE' | translate }}</p>
    </div>
    <form class="subscribe-form">
      <label>
        {{ 'FOOTER.NEWSLETTER.LABEL' | translate }}
        <input type="text" name="email" [placeholder]="'FOOTER.NEWSLETTER.PLACEHOLDER' | translate">
      </label>
      <button class="primary-button">{{ 'FOOTER.NEWSLETTER.SUBMIT_BTN' | translate }}</button>
    </form>
    <p class="policy-company fs-14">
      {{ 'FOOTER.NEWSLETTER.POLICY_TEXT' | translate }}
      <a>{{ 'FOOTER.NEWSLETTER.POLICY_LINK' | translate }}</a> 
      {{ 'FOOTER.NEWSLETTER.AND' | translate }} 
      <a>{{ 'FOOTER.NEWSLETTER.TERMS_LINK' | translate }}</a>
    </p>
  </div>
  <div class="footer-about">
    <h3 class="fs-20 bold">{{ 'FOOTER.ABOUT.TITLE' | translate }}</h3>
    <p>{{ 'FOOTER.ABOUT.DESCRIPTION' | translate }}</p>
    <nav class="footer-contacts">
      <a>info@domain.com</a>
      <a>+7 (123) 456-78-90</a>
    </nav>
    <nav class="messenger-nav">
      <fa-icon [icon]="faTelegram"/>
      <fa-icon [icon]="faVk"/>
      <fa-icon [icon]="faSkype"/>
      <fa-icon [icon]="faPinterest"/>
    </nav>
  </div>
  <div class="footer-services">
    <p class="fs-20">{{ 'FOOTER.SERVICES.TITLE' | translate }}</p>
    <nav class="fs-14">
      <a>{{ 'FOOTER.SERVICES.SUMMER_HIKES' | translate }}</a>
      <a>{{ 'FOOTER.SERVICES.WINTER_HIKES' | translate }}</a>
      <a>{{ 'FOOTER.SERVICES.TEMPLE_TOURS' | translate }}</a>
      <a>{{ 'FOOTER.SERVICES.EXTREME' | translate }}</a>
      <a>{{ 'FOOTER.SERVICES.JUNGLE' | translate }}</a>
      <a>{{ 'FOOTER.SERVICES.AFRICA' | translate }}</a>
    </nav>
  </div>
  <div class="travel-info">
    <p class="fs-20">{{ 'FOOTER.INFO.TITLE' | translate }}</p>
    <nav class="fs-14">
      <a>{{ 'FOOTER.INFO.PACKING' | translate }}</a>
      <a>{{ 'FOOTER.INFO.ESSENTIALS' | translate }}</a>
      <a>{{ 'FOOTER.INFO.INSURANCE' | translate }}</a>
      <a>{{ 'FOOTER.INFO.DOCTORS' | translate }}</a>
    </nav>
  </div>
</footer>
