.primary-button {
  height: 52px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  border-radius: 4px;
  background-color: #1A3E3E;
  color: var(--white-color);
  border: none;
  cursor: pointer;
}