<div class="message-container">
	@for (message of messages$ | async; track $index) {
		<ng-container 
			[ngTemplateOutlet]="messages" 
			[ngTemplateOutletContext]="{ currentMessage: message }">
		</ng-container>
	}
</div>
<div>
	<ng-template #messages let-message="currentMessage">
		<div class="message">
			<fa-icon [icon]="faMessage"/>
			<h4>{{ message.type }}</h4>
			<p>{{ message.text }}</p>
			<fa-icon
			[icon]="faXmark"
			(click)="closeMessage(message)" 
			class="img-close" 
			id="clossse-message" 
			style="font-size: 20px"/>
		</div>
	</ng-template>
</div>