<div>
  <form [formGroup]="editForm">
    <div>
      <label>
        title
        <input type="text" formControlName="title">
      </label>
    </div>
    <div>
      <label>
        body
        <textarea name="" id="" formControlName="body"></textarea>
      </label>
    </div>
    <div>
      <label>
        tags
        <input type="text" formControlName="tags">
      </label>
    </div>
  </form>
  <button (click)="save()">Сохранить</button>
  <button (click)="close()">Отмена</button>
</div>