<div>
  <form [formGroup]="editForm">
    <div>
      <label>
        {{ 'POST_FORM.TITLE' | translate }}
        <input id="title" type="text" formControlName="title">
      </label>
    </div>
    <div>
      <label>
        {{ 'POST_FORM.BODY' | translate }}
        <textarea id="body" formControlName="body"></textarea>
      </label>
    </div>
    <div>
      <label>
        {{ 'POST_FORM.TAGS' | translate }}
        <input id="tags" type="text" formControlName="tags">
      </label>
    </div>
  </form>
  <button id="btn-save" (click)="save()">
    {{ 'COMMON.SAVE' | translate }}
  </button>
  <button id="btn-close" (click)="close()">
    {{ 'COMMON.CANCEL' | translate }}
  </button>
</div>
