<div animatedGradient [gradientConfiguration]="({ delay: 1000 })" class="user-card">
  <div class="user-info">
    <p>{{ user.name | uppercase }}</p>
    <p>{{ user.username }}</p>
  </div>
  <div class="user-details">
    <div class="section-header">
      <span>{{ 'USER_CARD.CONTACTS' | translate }}</span>
      <div></div>
    </div>
    <div class="detail-row">
      <span>{{ 'USER_CARD.EMAIL' | translate }}:</span>
      <p>{{ user.email }}</p>
    </div>
    <div class="detail-row"> 
      <span>{{ 'USER_CARD.PHONE' | translate }}:</span>
      <p>{{ user.phone | formatPhone: phoneFormat.MASKED }}</p>
    </div>
    <div class="detail-row"> 
      <span>{{ 'USER_CARD.WEBSITE' | translate }}:</span>
      <p>{{ user.website || ('COMMON.UNKNOWN' | translate) }}</p>
    </div>
    <div class="section-header">
      <p>{{ 'USER_CARD.ADDRESS_HEADER' | translate }}</p>
      <div></div>
    </div>
    <div class="detail-row"> 
      <span>{{ 'USER_CARD.CITY' | translate }}:</span>   
      <p>{{ user.address.city }}</p>
    </div>
    <div class="detail-row">   
      <span>{{ 'USER_CARD.STREET' | translate }}:</span> 
      <p>{{ user.address.street }}</p>
    </div>
    <div class="detail-row">
      <span>{{ 'USER_CARD.SUITE' | translate }}:</span>
      <p>{{ user.address.suite || ('COMMON.UNKNOWN' | translate) }}</p>
    </div>
    <div class="detail-row">
      <span>{{ 'USER_CARD.ZIPCODE' | translate }}:</span>
      <p>{{ user.address.zipcode }}</p>
    </div>
    <div class="detail-row">
      <span>{{ 'USER_CARD.COORDS' | translate }}:</span>
      <div class="geo-coords">
        <p>{{ user.address.geo.lat }}</p>
        <p>{{ user.address.geo.lng }}</p>
      </div>
    </div>
    <div class="section-header">
      <p>{{ 'USER_CARD.WORK_HEADER' | translate }}</p>
      <div></div>
    </div>
    <div class="detail-row">
      <span>{{ 'USER_CARD.COMPANY' | translate }}:</span>
      <p>{{ user.company.name }}</p>
    </div>
    <div class="detail-row">
      <span>{{ 'USER_CARD.CATCH_PHRASE' | translate }}:</span>
      <p>{{ user.company.catchPhrase || ('COMMON.UNKNOWN' | translate) }}</p>
    </div>
    <div class="detail-row">
      <span>{{ 'USER_CARD.SPECIALIZATION' | translate }}:</span>
      <p>{{ user.company.bs || ('COMMON.UNKNOWN' | translate) }}</p>
    </div>
  </div>
  <button (click)="deleteUser.emit(user.id)">
    {{ 'USER_CARD.DELETE_USER' | translate }}
  </button>
</div>
