<div animatedGradient [gradientConfiguration]="({ delay: 5000 })" class="user-card">
  <div class="user-info">
    <p>{{ user.name | lowercase }}</p>
    <p>{{ user.username }}</p>
  </div>
  <div class="user-details">
    <div class="section-header">
      <span>Контакты</span>
      <div></div>
    </div>
    <div class="detail-row">
      <span>Эл. почта:</span>
      <p>{{ user.email }}</p>
    </div>
    <div class="detail-row"> 
      <span>Телефон:</span>
      <p>{{ user.phone | formatPhone: phoneFormat.MASKED }}</p>
    </div>
    <div class="detail-row"> 
      <span>Веб-сайт:</span>
      <p>{{ user.website || 'Неизвестно' }}</p>
    </div>
    <div class="section-header">
      <p>Адрес Проживания</p>
      <div></div>
    </div>
    <div class="detail-row"> 
      <span>Город:</span>   
      <p>{{ user.address.city }}</p>
    </div>
    <div class="detail-row">   
      <span>Улица:</span> 
      <p>{{ user.address.street }}</p>
    </div>
    <div class="detail-row">
      <span>Офис:</span>
      <p>{{ user.address.suite || 'Неизвестно' }}</p>
    </div>
    <div class="detail-row">
      <span>Индекс:</span>
      <p>{{ user.address.zipcode }}</p>
    </div>
    <div class="detail-row">
      <span>Координаты:</span>
      <div class="geo-coords">
        <p>{{ user.address.geo.lat }}</p>
        <p>{{ user.address.geo.lng }}</p>
      </div>
    </div>
    <div class="section-header">
      <p>Место работы</p>
      <div></div>
    </div>
    <div class="detail-row">
      <span>Компания:</span>
      <p>{{ user.company.name }}</p>
    </div>
    <div class="detail-row">
      <span>Миссия:</span>
      <p>{{ user.company.catchPhrase || 'Неизвестно' }}</p>
    </div>
    <div class="detail-row">
      <span>Специализация:</span>
      <p>{{ user.company.bs || 'Неизвестно' }}</p>
    </div>
  </div>
  <button (click)="deleteUser.emit(user.id)">Удалить пользователя</button>
</div>