@if (isDownload) {
  <div class="loading-container">
    <p class="loader" id="loader-indicator"></p>
  </div>
}
@if (!isDownload) {
  <div>
    <section class="banner">
      <div class="header-container">
        <header class="header container">
          <div class="container-logo">
            <img src="/images/logo-company.svg" alt="логотип компании">
            <span class="company-name">{{ companyName }}</span>
          </div>
          <nav class="container-nav fs-18"> 
            <a id="nav-home">Главная</a>
            <a id="nav-guide">Про гида</a>
            <a id="nav-program">Программа тура</a>
            <a id="nav-price">Стоимость</a>
            <a id="nav-blog">Блог</a>
            <a id="nav-contacts">Контакты</a>
            <button id="btn-consultation" class="btn-consultation primary-button">Консультация</button>
          </nav>
        </header>
      </div>
      <div class="container-widget">
        <div class="widget container">
          @if (!isCounterVisible) {
            <p class="date" id="current-date">{{ currentDate }}</p>
          }
          @if (isCounterVisible) {
            <div class="container-counter">
              <button id="btn-increase-counter" (click)="incrementCounter()">+</button>
              <p>{{ counter }}</p>
              <button 
                id="btn-decrease-counter" 
                [disabled]="counter <= 0" 
                (click)="decreaseCounter()">
                -
              </button>
            </div>
          }
          <button 
            id="btn-toggle-counter" 
            (click)="isCounterVisible = !isCounterVisible" 
            class="primary-button">
            {{ !isCounterVisible ? 'показать счётчик' : 'показвть дату' }}
          </button>
        </div>
      </div>
      <div class="intro-text-wrapper">
        <p class="container">Насладись прогулкой в горах <br> с командой единомышленников</p>
      </div>
      <div class= "contaner-panel">
        <div class="container contaner-panel-signup">
          <form class="form-container" name="form">
            <label>
              <select id="select-location" [(ngModel)]="selectedLocation" name="location" required>
                <option value="" selected>Локация для тура</option>
                @for (location of locations; track location.id) {
                  <option>{{ location.name }}</option>
                }
              </select>
              <span>выберите из списка</span>
            </label>
            <label>
              <div class="input-wrapper">
                <input 
                  id="input-date" 
                  [(ngModel)]="selectedDate" 
                  type="text" 
                  placeholder="Дата похода" 
                  name="date" 
                  required>
                <img class="calendar-icon" src="/images/calendar-icon.svg" alt="Дата">
              </div>
              <span>укажите диапазон</span>
            </label>
            <label>
              <select id="select-participant" [(ngModel)]="selectedParticipant" name="participant" required>
                <option value="" selected>Участники</option>
                @for (participant of participants; track participant.id) {
                  <option>{{ participant.quantity }}</option>
                }
              </select>
              <span>выберите из списка</span>
            </label>
            <button 
              id="btn-submit-search" 
              [disabled]="!isFormInValid()" 
              class="primary-button">
              Найти программу
            </button>
          </form>
        </div>
      </div>
      <div class="container container-live-input">
        <input 
          id="live-input" 
          [(ngModel)]="liveInput" 
          class="live-input" 
          type="text" 
          name="input-live">
        <img src="/images/arrow-input-icon.svg" alt="стрелка">
        <p>{{ liveInput }}</p>
      </div>
    </section>
    <section class="tour-info container">
        <div class="container-img">
          <img src="/images/misty-mountain.png">
          <img class="img-1" src="/images/mountain-meadow.png">
        </div>
        <div class="text-container">
          <span class="fs-24 yellow">о нашем походе</span>
          <h1 class="fs-32 lh-120">Исследуйте все горные массивы мира вместе с нами</h1>
          <p class="fs-18 margin-40">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur"и занялся его поисками в классической латинской литературе.</p>
          
          <button 
            (click)="messageService.addMessage(Message.WARN)" 
            id="btn-tour-program" class="primary-button">
            Программа тура
          </button>
        
        </div>
    </section>
    <section class="services-section">
      <div class="container container-services">
        <div class="info-container">
          <span class="fs-24 fw-400 yellow">наше предложение</span>
          <h2 class="fs-32 lh-120">Лучшие программы для тебя</h2>
          <p class="fs-18 margin-40">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа.</p>
          @for (service of services; track service.id) {
            <div class="service" 
              (mouseenter)="hoverServiceId = service.id"
              (mouseleave)="hoverServiceId = null"
              [class.active] = "hoverServiceId === service.id">
              <img [src]="'/images/' + service.img + '.svg'">
              <div>
                <h3 class="fs-18">{{ service.title }}</h3>
                <p>{{ service.description }}</p>
              </div>
            </div>
          } 
          <button 
            (click)="messageService.addMessage(Message.INFO)" 
            id="btn-services-price" 
            class="primary-button">
            Стоимость программ
          </button>
        </div>
        <div class="container-img">
          <img src="/images/canyon.png">
          <img src="/images/cliff-view.png">
          <img src="/images/snowmobile-ride.png">
          <img src="/images/mountain-spring.png">
        </div>
      </div> 
    </section>
  </div>

  <section class="section-destination">
    <div class="section-title">
      <p class="yellow fs-24">по версии отдыхающих</p>
      <h2 class="fs-32">Популярные направления</h2>
    </div>
    <div class="destination-container">
      @for (destination of destinations; track destination.id) {
        <div class="destination-card">
          <img [src]="'/images/destinations/' + destination.img + '.png'" width="380px" height="500px">
          <div class="rating-container">
            <img [src]="'/images/destinations/' + destination.icon + '.svg'" width="17px" height="17">
            <span>{{ destination.rating }}</span>
          </div>
          <div class="destination-info">
            <div class="destination-text">
              <h3 class="fs-24">{{ destination.title }}</h3>
              <p class="fs-14">{{ destination.subtitle }}</p>
            </div>
            <span class="fs-20 bold">{{ destination.price }} &#36;</span>
          </div>
        </div>
      }
    </div>
    <button 
      (click)="messageService.addMessage(Message.SUCCESS)" 
      id="rating-btn"
      class="primary-button">
      Рейтинг направлений
    </button>
  </section>

  <section class="blog-section">
    <div class="section-title">
      <p class="yellow fs-24">делимся впечатлениями</p>
      <h2 class="fs-32">Блог о путешествиях</h2>
    </div>
    <div class="blog-container container"> 
      @for (travel of travels; track travel.id) {
        <div class="travel-card">
          <img [src]="'/images/blog/' + travel.img + '.png'" width="230px" height="280px">
          <div 
            class="blog-info"
            [id]="'travel' + travel.id" 
            [class.activ-info]="travel.id === selectedBlogInfoId"
            (mouseenter)="selectedBlogInfoId = travel.id">
            <h3 class="fs-24 bold">{{ travel.title }}</h3>
            <p class="fs-14">{{ travel.description }}</p>
            <nav class="blog-nav"> 
              <span class="yellow">{{ travel.date }}</span>
              <a class="bold fs-14">читать статью</a>
            </nav>
          </div>
        </div>
      }
    </div>
    <button 
      (click)="messageService.addMessage(Message.ERROR)" 
      id="materials-btn"
      class="primary-button">
      Другие материалы
    </button>   
  </section>
  <div>
    <ng-template #messages let-message="currentMessage">
      <div class="message">
        <img src="/images/icon-message.svg" width="40px" height="40px">
        <h4>{{ message?.title }}</h4>
        <p>{{ message?.message }}</p>
        <img 
          (click)="messageService.closeMessage(message)" 
          class="img-closse" src="/images/closse-iccon.svg"
          id="clossse-message" 
          width="20px" 
          height="20px">
      </div>
    </ng-template>
  </div>
  <div class="message-container">
    @for (message of messageService.currentMessage; track $index) {
      <ng-container 
        [ngTemplateOutlet]="messages" 
        [ngTemplateOutletContext]="{ currentMessage: message }">
      </ng-container>
    }
  </div>
}