<app-create-user (createUser)="onSubmitForm($event)"/>
<app-users-filter (filterUser)="onFilterUsers($event)"/>
<div class="container-users">
  @if (filteredUsers$ | async; as users) {
    <p>{{ users.length | pluralize: ['пользователь', 'пользователя', 'пользователей'] }}</p>
  }
  <div class="users-list">
    @for (user of filteredUsers$ | async; track user.id) {
    <app-user 
      [user]="user"
      (deleteUser)="onDeleteUser(user)"
    />
    } @empty {
      <p class="empty-message fs-26">Нет пользователей для отображения</p>
    }
  </div>
  <button appBold id="update-users" class="primary-button update-users" (click)="updateUsers()">обновить пользователей</button>.  
</div>