  <div>
    <p-table [value]="[post]">
      <ng-template pTemplate="header">
      <tr>
        <th>{{ 'POST_TABLE.TITLE' | translate }}</th>
        <th>{{ 'POST_TABLE.BODY' | translate }}</th>
        <th>{{ 'POST_TABLE.TAGS' | translate }}</th>
        <th>{{ 'POST_TABLE.LIKES' | translate }}</th>
        <th>{{ 'POST_TABLE.DISLIKES' | translate }}</th>
        <th>{{ 'POST_TABLE.VIEWS' | translate }}</th>
      </tr>
      </ng-template>
      <ng-template pTemplate="body" let-post>
        <tr>
          <td>{{ post.title }}</td>
          <td>{{ post.body }}</td>
          <td>{{ post.tags }}</td>
          <td>{{ post.reactions?.likes }}</td>
          <td>{{ post.reactions?.dislikes }}</td>
          <td>{{ post.views }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
