<div class="center container-create wraper">
  <form [formGroup]="postCreateForm">
    <div>
      <label>
        {{ 'POST_FORM.TITLE' | translate }}
        <input id="title" type="text" formControlName="title">
      </label>
    </div>
    <div>
      <label>
        {{ 'POST_FORM.BODY' | translate }}
        <textarea id="body" formControlName="body"></textarea>
      </label>
    </div>
    <div>
      <label>
        {{ 'POST_FORM.TAGS' | translate }}
        <input id="tags" type="text" formControlName="tags">
      </label>
    </div>
  </form>
  <div class="form-actions between">
    <button 
      (click)="onSubmitForm()" 
      id="btn-submit" 
      class="primary-button">
      {{ 'POST_FORM.PUBLISH_BTN' | translate }}
    </button>
    <button 
      (click)="goBack()" 
      id="btn-close" 
      class="primary-button">
      {{ 'COMMON.CANCEL' | translate }}
    </button>
  </div>
</div>
