<section class="banner">
  <div class="intro-text-wrapper">
    <p class="container"> {{ 'BANNER.TITLE' | translate }}</p>
  </div>
  <div class="contaner-panel">
    <div class="container contaner-panel-signup">
      <form class="form-container" name="form">
        <label>
          <select id="select-location" [(ngModel)]="selectedLocation" name="location" required>
            <option value="" selected>{{ 'BANNER.FORM.LOCATION_PLACEHOLDER' | translate }}</option>
            @for (location of locations; track location.id) {
              <option>{{ location.name }}</option>
            }
          </select>
          <span>{{ 'BANNER.FORM.SELECT_FROM_LIST' | translate }}</span>
        </label>
        <label>
          <div class="input-wrapper">
            <p-datepicker 
              class="date"
              [(ngModel)]="date" 
              name="date"
              [iconDisplay]="'input'" 
              [showIcon]="true" 
              inputId="icondisplay"
              appendTo="body"    
            />
          </div>
          <span>{{ 'BANNER.FORM.SELECT_RANGE' | translate }}</span>
        </label>
        <label>
          <select id="select-participant" [(ngModel)]="selectedParticipant" name="participant" required>
            <option value="" selected>{{ 'BANNER.FORM.PARTICIPANTS_PLACEHOLDER' | translate }}</option>
            @for (participant of participants; track participant.id) {
              <option>{{ participant.quantity }}</option>
            }
          </select>
          <span>{{ 'BANNER.FORM.SELECT_FROM_LIST' | translate }}</span>
        </label>
        <button 
          id="btn-submit-search" 
          [disabled]="!isFormInValid()" 
          class="primary-button">
          {{ 'BANNER.FORM.SUBMIT_BTN' | translate }}
        </button>
      </form>
    </div>
  </div>
  <div class="container container-live-input">
    <input 
      id="live-input" 
      [(ngModel)]="liveInput" 
      class="live-input" 
      type="text" 
      name="input-live">
      <fa-icon [icon]="faChevronDown"/>
    <p>{{ liveInput }}</p>
  </div>
</section>
<section class="tour-info container">
  <div class="container-img">
    <img src="/images/misty-mountain.png">
    <img class="img-1" src="/images/mountain-meadow.png">
  </div>
  <div class="text-container">
    <span class="fs-24 yellow">{{ 'TOUR_INFO.SUBTITLE' | translate }}</span>
    <h1 class="fs-32 lh-120">{{ 'TOUR_INFO.TITLE' | translate }}</h1>
    <p class="fs-18 margin-40">{{ 'TOUR_INFO.DESCRIPTION' | translate }}</p>
    <button 
      (click)="messageService.showWarn('Ошибка')" 
      id="btn-tour-program" class="primary-button">
      {{ 'TOUR_INFO.BTN' | translate }}
    </button>
  </div>
</section>
<section class="services-section">
  <div class="container container-services">
    <div class="info-container">
      <span class="fs-24 fw-400 yellow">{{ 'SERVICES.SUBTITLE' | translate }}</span>
      <h2 class="fs-32 lh-120">{{ 'SERVICES.TITLE' | translate }}</h2>
      <p class="fs-18 margin-40">{{ 'SERVICES.DESCRIPTION' | translate }}</p>
      @for (service of services; track service.id) {
        <div class="service" 
          (mouseenter)="hoverServiceId = service.id"
          (mouseleave)="hoverServiceId = null"
          [class.active]="hoverServiceId === service.id">
          <fa-icon [icon]="service.icon"/>
          <div>
            <h3 class="fs-18">{{ service.title | translate }}</h3>
            <p>{{ service.description | translate }}</p>
          </div>
        </div>
      } 
      <button 
        (click)="messageService.showInfo('Стоимость отправлена на почту')" 
        id="btn-services-price" 
        class="primary-button">
        {{ 'SERVICES.BTN' | translate }}
      </button>
    </div>
    <div class="container-img">
      <img src="/images/canyon.png">
      <img src="/images/cliff-view.png">
      <img src="/images/snowmobile-ride.png">
      <img src="/images/mountain-spring.png">
    </div>
  </div> 
</section>
<section class="section-destination">
  <div class="section-title">
    <p class="yellow fs-24">{{ 'DESTINATIONS.SUBTITLE' | translate }}</p>
    <h2 class="fs-32">{{ 'DESTINATIONS.TITLE' | translate }}</h2>
  </div>
  <div class="destination-container">
    @for (destination of destinations; track destination.id) {
      <div class="destination-card">
        <img [src]="'/images/destinations/' + destination.img + '.png'" width="380px" height="500px">
        <div class="rating-container">
          <fa-icon [icon]="faStar" style="font-size: 20px"/>
          <span>{{ destination.rating }}</span>
        </div>
        <div class="destination-info">
          <div class="destination-text">
            <h3 class="fs-24">{{ destination.title | translate }}</h3>
            <p class="fs-14">{{ destination.subtitle | translate }}</p>
          </div>
          <span class="fs-20 bold">{{ destination.price }} &#36;</span>
        </div>
      </div>
    }
  </div>
  <button 
    (click)="messageService.showSuccess('Стоимость отправлена на почту')" 
    id="rating-btn"
    class="primary-button">
    {{ 'DESTINATIONS.BTN' | translate }}
  </button>
</section>
<section class="blog-section">
  <div class="section-title">
    <p class="yellow fs-24">{{ 'BLOG.SUBTITLE' | translate }}</p>
    <h2 class="fs-32">{{ 'BLOG.TITLE' | translate }}</h2>
  </div>
  <div class="blog-container container"> 
    @for (travel of travels; track travel.id) {
      <div class="travel-card">
        <img [src]="'/images/blog/' + travel.img + '.png'" width="230px" height="280px">
        <div 
          class="blog-info"
          [id]="'travel' + travel.id" 
          [class.activ-info]="travel.id === selectedBlogInfoId"
          (mouseenter)="selectedBlogInfoId = travel.id">
          <h3 class="fs-24 bold">{{ travel.title | translate}}</h3>
          <p class="fs-14">{{ travel.description | translate }}</p>
          <nav class="blog-nav"> 
            <span class="yellow">{{ travel.date }}</span>
            <a class="bold fs-14">{{ 'BLOG.READ_MORE' | translate }}</a>
          </nav>
        </div>
      </div>
    }
  </div>
  <button 
    (click)="messageService.showError('Материалы недоступны')" 
    id="materials-btn"
    class="primary-button">
    {{ 'BLOG.BTN' | translate }}
  </button>   
</section>
<section class="photoreport-section">
  <div class="section-title">
    <p class="yellow fs-24">{{ 'PHOTOREPORT.SUBTITLE' | translate }}</p>
    <h2 class="fs-32">{{ 'PHOTOREPORT.TITLE' | translate }}</h2>
  </div>
  <div class="photoreport-container container">
    @for (photoreport of photoreports; track photoreport.id) {
      <img [src]="'/images/photoreport/' + photoreport.img + '.png'">
    }
  </div>
  <button 
    (click)="messageService.showSuccess('Наш pinterest')" 
    class="primary-button"
    id="id-pinterest">
    {{ 'PHOTOREPORT.BTN' | translate }}
  </button>
</section>
