.container-users {
  position: relative;
  min-height: 630px;
  padding: 120px 0;
  background-color: var(--lite-color);
  display: flex;
  justify-content: center;
  
  .users-list {
    width: 1460px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px 70px;
  } 

  .update-user {
    position: fixed;
    cursor: pointer;
    bottom: 100px;
    left: 20px;
    z-index: 5;
  }

  .empty-message {
    width: 606px;
    height: 90px;
    border-radius: 20px;
    padding: 30px;
    font-weight: 800;
    color: var(--white-color);
    background-color: #B15757;
  }
}