<app-create-user (onSubmitForm)="onSubmit($event)"/>
<app-users-filter (valueChanges)="onFilterUsers($event)"/>
<div class="container-users">
  <div class="users-list">
    @for (user of users$ | async; track user.id) {
    <app-user 
      [user]="user"
      (onDeleteUser)="userService.deleteUser(user)"
    />
    } @empty {
      <p class="empty-message fs-26">Нет пользователей для отображения</p>
    }
  </div>
  <img 
    (click)="updateUsers()" 
    class="update-user" src="/images/service/update-icon.svg" 
    alt="обновить пользователей">
</div>