
<footer class="footer">
	<div class="newsletter-footer container">
		<div class="title-section">
			<span class="yellow fs-18">актуально</span>
			<p class="fs-26 bold newsletter--title">Получайте полезные рассылки о путешествиях</p>
		</div>
		<form class="subscribe-form">
			<label>Введите e-mail адрес
				<input type="text" name="email" placeholder="name@domain.com">
			</label>
			<button class="primary-button">Подписаться на новости</button>
		</form>
			<p class="policy-company fs-14">подписываясь на новости, вы автоматически соглашаетесь c
				<a>условиями обработки персональных данных</a> 
				и 
				<a>правилами рекламных рассылок</a>
			</p>
	</div>
	<div class="footer-about">
		<h3 class="fs-20 bold">Компания «РумТибет»</h3>
		<p>Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney.</p>
		<nav class="footer-contacts">
			<a>info@domain.com</a>
			<a>+7 (123) 456-78-90</a>
		</nav>
		<nav class="messenger-nav">
			<img src="/images/footer/icon-telegram.svg" alt="telegram">
			<img src="/images/footer/icon-vk.svg" alt="vk">
			<img src="/images/footer/icon-pinterest.svg" alt="pinterest">
			<img src="/images/footer/icon-scype.svg" alt="scype">
		</nav>
	</div>
	<div class="footer-services">
		<p class="fs-20">Наши услуги</p>
		<nav class="fs-14">
			<a>Прогулки в горы летом</a>
			<a>Зимние походы в горы</a>
			<a>Посещение храмов в горах</a>
			<a>Экстремальные виды туризма</a>
			<a>Походы в джунглях Амазонии</a>
			<a>Поездка в Африку</a>
		</nav>
	</div>
	<div class="travel-info">
		<p class="fs-20">Важно для путешествий</p>
		<nav class="fs-14">
			<a>Как собрать в долгий поход?</a>
			<a>Жизненно важные предметы для похода</a>
			<a>Медицинская страховка, гарантии безопасности</a>
			<a>Если вы врач - загляните сюда</a>
		</nav>
	</div>
</footer>
